@import "./utils/variables";
@import "./utils/mixins";
@import "./base/reset";
@import "./base/typography";
@import "./base/wrapper";

.button {
	background-color: $primary-background-color;
	color: white;
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	width: 170px;
	height: 69px;
	border-radius: 5px;
	border: none;
	text-align: center;
	cursor: pointer;
	&--contact {
		&:hover,
		&:focus {
			background-color: $secondary-background-color;
			color: black;
		}
	}
	&--content {
		display: none;
		position: fixed;
		right: 50%;
		top: 0;
		background-color: $secondary-background-color;
		color: black;
		height: 30px;
		width: 182px;
	}
}

.sort {
	margin: 20px;
	&__label {
		padding-right: 10px;
		font-weight: 700;
		font-size: 18px;
	}
}

.photographers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
}

.photographer {
	text-align: center;
	&__link{
		display:inline-block;
	}
	&__picture{
		width: 200px;
		height: 200px;
		overflow: hidden;
		border-radius: 200px;
		img{
			@include img-max;
		}
	}
	&__name {
		font-size: 36px;
		font-weight: 400;
		line-height: 47px;
		color: $primary-text-color;
	}
	&__location {
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
		color: $secondary-text-color;
	}
	&__tagline {
		font-size: 10px;
		font-weight: 400;
		line-height: 13px;
		color: black;
	}
}

.heart {
	margin: 20px;
	display: flex;
	&__number {
		font-size: 24px;
		font-weight: 500;
		line-height: 31px;
		color: $secondary-text-color;
		width: 30px;
	}
	&__icon {
		padding: 5px;
	}
}

//modal

.form {
	&__background {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgb(196, 196, 196, 0.5);
	}
	&__modal {
		margin: 5% auto;
		padding: 30px;
		max-width: 660px;
		background: $secondary-background-color;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.4);
	}
	&__closeX {
		position: absolute;
		right: 35px;
		top: 35px;
		width: 42px;
		height: 42px;
		opacity: 1;
		cursor: pointer;
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
		//colorer le logo svg en blanc
	}
	&__title {
		font-size: 64px;
		font-weight: 400;
		color: black;
		line-height: 90px;
	}
	label {
		font-size: 36px;
		font-weight: 400;
		color: $form-text-color;
		display: inline-block;
		margin-bottom: 11px;
	}
}
.text-control {
	border: none;
	margin-bottom: 11px;
	padding: 8px;
	width: 100%;
	font-size: 20px;
	height: 48px;
	border-radius: 5px;
}
.form__data[data-error]::after {
	content: attr(data-error);
	font-size: 1em;
	color: $secondary-text-color;
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: right;
	line-height: 0.3;
	opacity: 0;
	transition: 0.3s;
}
.form__data[data-error-visible="true"]::after {
	opacity: 1;
}
.form__data[data-error-visible="true"] .text-control {
	border: 2px solid $secondary-text-color;
}
