$primary-background-color: #901C1C;
$primary-text-color: #D3573C;
$secondary-background-color: #D3573C;
$secondary-text-color: #901C1C;
$tertiary-background-color: #FAFAFA;
$tertiary-text-color: #525252;
$border-color: #C4C4C4;
$form-text-color:#312E2E;

//pour le responsive
$breakpoints: (
	laptop: 1024px,
	tablet: 768px,
);